<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ar.com.comunidadesfera.observatorio.PerspectivaObservatorio"
            icon="icons/observatorio.png"
            id="ar.com.comunidadesfera.observatorio.PerspectivaObservatorio"
            name="Observatorio">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ar.com.comunidadesfera.observatorio.categoria"
            name="Observatorio">
      </category>
      <view
            category="ar.com.comunidadesfera.observatorio.categoria"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/observatorio.png"
            id="ar.com.comunidadesfera.observatorio.explorador"
            name="Explorador"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="ar.com.comunidadesfera.observatorio.explorador">
         <options>
            <property
                  name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
                  value="true">
            </property>
            <property
                  name="org.eclipse.ui.navigator.hideAvailableCustomizationsDialog"
                  value="true">
            </property>
         </options>
         <popupMenu allowsPlatformContributions="false">
                <!--
               <insertionPoint name="group.new" separator="true"/>
               <insertionPoint name="group.open" separator="true"/>
               <insertionPoint name="group.search" separator="true"/>
               <insertionPoint name="group.edit" separator="true"/>
               <insertionPoint name="group.reorganize" separator="true"/>
               -->
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="ar.com.comunidadesfera.observatorio.explorador">
         <includes>
            <contentExtension pattern="ar.com.comunidadesfera.observatorio.explorador.java"/>
            <contentExtension pattern="org.eclipse.jdt.java.ui.filters.*"/>
         	<contentExtension pattern="org.eclipse.jdt.java.ui.javaLinkHelper" />
            <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="ar.com.comunidadesfera.observatorio.explorador">
            <excludes>
            <actionExtension
                  pattern="org.eclipse.jdt.ui.navigator.actions.*">
            </actionExtension>
            </excludes>
      </viewerActionBinding>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ar.com.comunidadesfera.observatorio.asistentes.categoria"
            name="Asistentes">
      </category>
      <wizard
            category="ar.com.comunidadesfera.observatorio.asistentes.categoria"
            class="ar.com.comunidadesfera.observatorio.AsistenteNuevaClase"
            id="ar.com.comunidadesfera.observatorio.asistentes.nuevaClase"
            name="Nueva Clase">
      </wizard>
      <wizard
            category="ar.com.comunidadesfera.observatorio.asistentes.categoria"
            class="ar.com.comunidadesfera.observatorio.AsistenteNuevoProyecto"
            hasPages="true"
            id="ar.com.comunidadesfera.observatorio.asistentes.crearProyecto"
            name="Nuevo Proyecto">
      </wizard>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
        <navigatorContent
                activeByDefault="true"
                contentProvider="org.eclipse.jdt.internal.ui.navigator.JavaNavigatorContentProvider"
                icon="$nl$/icons/full/eview16/jperspective.gif"
                id="ar.com.comunidadesfera.observatorio.explorador.java"
                labelProvider="org.eclipse.jdt.internal.ui.navigator.JavaNavigatorLabelProvider"
                name="%commonNavigatorContentName"
                priority="high">
            <triggerPoints>
                <or>
                    <adapt type="org.eclipse.core.resources.IProject" >
                        <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
                    </adapt>
                    <instanceof value="org.eclipse.core.resources.IResource" />
                    <instanceof value="org.eclipse.jdt.core.IJavaElement" />
                    <instanceof value="org.eclipse.jdt.core.IJarEntryResource" />
                    <instanceof value="org.eclipse.jdt.internal.ui.packageview.PackageFragmentRootContainer" />
                </or>
            </triggerPoints>
            <possibleChildren>
                <or>
                    <instanceof value="org.eclipse.core.resources.IResource" />
                    <instanceof value="org.eclipse.jdt.core.IJavaElement" />
                    <instanceof value="org.eclipse.jdt.core.IJarEntryResource" />
                    <instanceof value="org.eclipse.jdt.internal.ui.packageview.PackageFragmentRootContainer" />
                </or>
            </possibleChildren> 
            <override
                    policy="InvokeAlwaysRegardlessOfSuppressedExt"
                    suppressedExtensionId="org.eclipse.ui.navigator.resourceContent"/>
            <commonSorter
                    class="org.eclipse.jdt.ui.JavaElementSorter"
                    id="org.eclipse.jdt.ui.javaElementSorter"/>
        </navigatorContent>
        
   </extension>
   
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ar.com.comunidadesfera.observatorio.PerspectivaObservatorio">
         <view
               closeable="false"
               id="ar.com.comunidadesfera.observatorio.explorador"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.jdt.junit.ResultView"
               minimized="false"
               relationship="stack"
               relative="ar.com.comunidadesfera.observatorio.explorador"
               visible="false">
         </view>
         <view
               id="edu.rice.cs.drjava.InteractionsView"
               minimized="false"
               ratio="0.30"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               ratio="0.70"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               minimized="true"
               ratio="0.70"
               relationship="fast"
               relative="org.eclipse.ui.editorss">
         </view>
         <viewShortcut
               id="org.eclipse.ui.navigator.ProjectExplorer">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.ProblemView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.ResourceNavigator">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
</plugin>
